@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@300;400;500;600;700&display=swap");
@import "tailwindcss";

@layer base {
    :root {
        --font-sans: "Stack Sans Text", ui-sans-serif, system-ui, sans-serif,
            "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
            "Noto Color Emoji";
    }

    body {
        font-family: var(--font-sans);
        background-color: #f9fafb;
    }
}
